@import url('https://fonts.googleapis.com/css?family=Raleway:400,900|Roboto:300,400,700');
body{
	font: 300 24px/1.33 "Roboto", Arial, sans-serif;
	background: #eeeeee;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1240px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

.ba-logo-a {
	float: left;
}
.ba-menu {
	float: right;
}
.ba-logo-a img {
	display: block;
}
.ba-nav-menu {
	padding: 6px 0 0 0;
	margin: 0;
	list-style: none;
}
.ba-hed-logo {
	padding-top: 50px;
}
.ba-nav-menu li {
	display: inline-block;
	padding: 0 21px;
}
.ba-nav-menu li:last-of-type {
padding-right: 0;
}
.ba-nav-menu a {
	text-decoration: none;
	font: 400 18px/1.5 'Roboto', sans-serif;
	color:  #303030;
}
.ba-nav-menu button {
	background: url(../img/Menu.png) no-repeat center;
	border: 0;
	width: 17px;
	height: 15px;
}
.ba-slider {
	font-size: 0;
	margin-top: 105px;
}
.ba-body,
.ba-slider-img {
	display: inline-block;
	width: 50%;
	font-size: 24px;
	vertical-align: top;
	text-align: right;
}
.ba-title {
	font: 900 150px/1 'Raleway', sans-serif;
	color:  #303030;
	text-align: right;
	text-transform: uppercase;
	margin: 0;
	letter-spacing: 0.0025em;
}
.ba-slider-img {
	padding: 0 118px 0 104px;
}
.ba-text {
	text-align: right;
	font: 300 24px/1.5 'Roboto', sans-serif;
	color:  #303030;
	margin-bottom: 10px;
}
.ba-viev-project {
	font: 700 24px/1.5 'Roboto', sans-serif;
	color:  #e10011;
	text-decoration: none;
}
.ba-radiobutton {
	display: inline-block;
	border: 1px solid #ccc;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	cursor: pointer;
	background: #303030;
	margin: 0 3px;
}
.ba-sliderbutton {
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	right: 0;
	margin: auto;
	width: 100px;
	height: 20px;
	margin-top: 63px;

}
.ba-sliderbutton [type="radio"] {
	display: none;
}
.ba-radiobutton:first-child {
		background: #e10011;
}
.ba-abs {
	position: relative;
}
.ba-portfolio {
	background: #fff;
	margin-top: 179px;
	padding: 94px 0 32px;
	max-width: 1240px;
	margin-bottom: 50px;
	border-radius: 10px;
}
.ba-portfolio__title {
	font: 900 48px/1.5 'Raleway', sans-serif;
	color:  #303030;
	text-align: center;
	background: url(../img/underline.jpg) no-repeat center bottom;
	padding-bottom: 16px;
	margin: 0;
	letter-spacing: 0.025em;
}
.ba-portfolio__text {
	font-family: Raleway;
	font: 400 18px/1.33 'Raleway', sans-serif;
	color:  #303030;
	text-align: center;
	margin: auto;
	width: 50%;
	margin-top: 11px;
	margin-bottom: 70px;
	letter-spacing: 0.025em;
}
.ba-row {
	padding-left: 33px;
}
.ba-work {
	text-decoration: none;
	text-align: center;
	color: #fff;
	display: block;
	position: relative;
}
.ba-work img {
	display: block;
}
.ba-work__caption {
	background: #e10011;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	border-radius: 10px;
	opacity: 0;
	transition: opacity .5s;
}
.ba-work:hover .ba-work__caption {
	opacity: 1;
}
.ba-work__caption-body {
	padding: 0 35px 28px;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	text-align: left;
	letter-spacing: 0.025em;

}
.ba-work__caption-body:after {
	display: block;
	content: "";
	border-bottom: 5px solid #fff;
	max-width: 95px;
	margin-top: 5px;
}
[class*="ba-col-"] {
	float: left;
	margin-bottom: 40px;
	padding-left: 40px;
}

